body{
  background-color: beige;
}
.application {
  font-family: sans-serif;
  text-align: center;
}
.application-header h1{
  text-decoration: underline;
  font-style: italic;

}
.task-list{
  background-color: burlywood;
  margin-left: 10%;
  margin-right: 10%;
  border-top: 5px;
  padding: 10px;
  border: solid wheat;
  border-radius: 20px;
}

.task-list li{
  font-size: medium;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  cursor: pointer;
}

.task-list button{
  font-size: larger;
}

.striked-item {
  text-decoration: line-through;
}